/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.social-icon-wrapper {
	font-size: 35px;

	.social-icon {
		background-size: contain;
		background-repeat: no-repeat;
		color: transparent;
		font-size: 0;
		padding: 15px 65px;
		margin: 0 10px;
		border-radius: 5px;

		&.youtube-icon {
			background-image: url(images/youtube-logo.png);
		}

		&.patreon-icon {
			background-image: url(images/patreon-logo.png);
		}
	}
}