$color__background-body: #202025;
$color__background-content: #052942;
$color__background-screen: #000;
$color__background-hr: #ccc;
$color__background-button: #ffd101;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ffd101;
$color__link-visited: #ffd101;
$color__link-hover: #7BEAF3;
$color__text-main: #7BEAF3;

$color__border-button: #ffd101;
$color__border-button-hover: #7BEAF3;
$color__border-button-focus: #7BEAF3;
$color__button-hover: #7BEAF3;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__button-color: #052942;
